<div class="simple-pane">
    <img class="background" [src]="imageSrc">
    <div class="content">
        <div class="id"># {{ id }}</div>
        <div class="title">{{ title }}</div>
        <div class="body">{{ body }}</div>
    </div>
</div>