.simple-pane {
    position: relative;
    overflow: hidden;
    margin: 0 16px 16px 16px;

    .background {
        position: absolute;
        display: block;
        top: 0;
        z-index: -1;
        width: 100%;
    }

    .content {
        padding: 70px 16px 16px 16px;

        .id {
            width: fit-content;
            padding: 4px 38px 3px 14px;
            border-radius: 40px;
            background-color: #2cb7d6;
            color: #ffffff;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            color: #ffffff;
            margin: 16px 0;
        }

        .body {
            font-size: 14px;
            font-weight: 300;
            color: #e3e3e3;
        }
    }
}